.user-info {
  .dropdown-toggle {
    color: $white;
    text-decoration: none;

    .avatar {
      height: 20px;
      margin-right: 5px;
      vertical-align: bottom;
    }
  }

  .dropdown-menu {
    .dropdown-header {
      font-size: initial;
    }
  }
}
